nav{
    width:100%;
    height: 60px;
    background-color: #0B7872;
  
}

.navbar > .container{
   
    width: 100%;
    max-width: 1200px;
   
}

#navbarNav{
    display: flex;
    flex-direction: row;
  
}

.nav-link{
   font-weight: 500;
}



.navbar-brand{
    font-size: 30px;
    font-weight: 500;
}

/* #materias> a:hover{
color: white;
} */


/*Materias*/

.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    
    }
    
.cabecera > .container
{
    display: flex;
    flex-direction: row;
  justify-content: center;
    
}

.cabecera{
    margin-top: 10px;
}


.contenedorMaterias > .container{
display: flex;
flex-direction: row;
align-content: center;
justify-content: space-between;
flex-wrap: wrap;
padding: 10px;
text-align: center;


}




.card-body{
width: 15rem;
  

 }


 #cardAg{
    width: 15rem;
height: 12rem;

}

#cardAg > .card-body{

align-content: center;

}

#cardAg a{
    width: 100px;
    height: 100px;
    font-size: 60px;
justify-content: center;  
margin-top: -5px;
}




.formAgMat, .formEdMat{
  width:500px ;
  

}
.formAgMat> .container , .formEdMat > .container{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
height: 200PX;
width: 500px;

}

/* docentes*/
/*Agregar Docentes*/

/*Encabezado*/
.formAgAlum > .containerDatosPersonales, .formAgDoc > .containerDatosPersonales{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
   padding-top: 15px; 
     height: 50px;
     width: 100%;

}  
/*Formulario*/
.formAgAlum > .container, .formAgDoc > .container, .formReadDoc > .container, .formReadAl >.container
{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
   
}

 
/*Todo el div. Almacena el form y el encabezado*/
.formAgDoc{
display: block;
flex-direction: row;
justify-content: center; 
align-items: flex-start; 
width: 600px;
height:685px;

}


/*Read Edit Delete Docentes*/

label
{
    display: block;
}

.formReadDoc > .containerDatosPersonales, .formReadAl> .containerDatosPersonales{
    height: 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    align-content:center;
   padding-top: 15px;
   width: 95%;
 margin: auto;  
}

/* .formReadDoc > .container
{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    
} */

.formReadDoc{
    width: 600px;
   height:685px;
   
   } 

   /*Agregar Alumno*/

   .formAgAlum, .formReadAl{
    width: 600px;
    height:790px;
  
   }


   


















 